<div class="col s12 tag-div">
  <p>
      I am a PhD student at the 
      <a style="color:#000000; font-weight:bold" href="http://rpg.ifi.uzh.ch/index.html">Robotics and Perception Group</a>
      led by <a style="color:#000000; font-weight:bold" href="http://rpg.ifi.uzh.ch/people_scaramuzza.html">Prof. Davide Scaramuzza</a>
      at the <a style="font-weight:bold" href="https://www.uzh.ch/en.html">University of Zurich</a> and
      <a style="font-weight:bold" href="https://www.uzh.ch/en.html">ETH Zurich</a>. 
  </p>
  
  <p>
      My research interests lie at the intersection between machine learning and optimal control. 
      I am currently working on combining reinforcement learning and model predictive control 
      with appilcation to high-speed autonomous quadrotor control. 
  </p>

  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="hoverable z-depth-1" src="{{site.baseurl}}/assets/res/me.jpg"></a>
  </div>
    
  <div class="user-content">
    <p>
      
    </p>
    
    <strong>Research interests:</strong>

    <ul>
      <li><strong>Reinforcement Learning</strong></li>
      <li><strong>Robot Learning</strong></li>
      <li><strong>Optimal Control</strong></li>
      <li><strong>Machine Learning</strong></li>
    </ul>
    
  </div>
</div>