<div class="col s12 tag-div">
  <p>
    <strong>
      I am currently looking for a Ph.D. postion or full-time job in the context of machine learning with a focus on reinforcement learning or computer vision.
    </strong>
  </p>

  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="hoverable z-depth-1" src="{{site.baseurl}}/assets/res/me.jpg"></a>
  </div>
    
  <div class="user-content">
    <p>
      My name is Yunlong Song. I graduated from Technische Universität Darmstadt (Germany) with an academic degree of M.sc. in 2018. My study mainly focus on reinforcement learning, machine learning and digital signal processing. During my Masters studies, I have been working as a research assistant at the computer vision lab of AGT International for about 2 years. In addition, I worked as a student assistant/teaching assistant at different departments of the university. For example, I was a teaching assistant of the digital signal processing lab and the statistical machine learning lecture.
    </p>

    <p>
      From 2010 to 2014, I studied for my bachelor's degree in Communciation Engineering at Shanghai University. My study was mainly in communication technology and information theory. I was a software intern at the Shanghai SONY software center, where I wrote SystemC programm for testing system-on-chip (SoC) image processing module. 
    </p>
    
    <strong>Research interests:</strong>

    <ul>
      <li><strong>Reinforcement Learning for Computer Vision</strong></li>
      <li><strong>Robot Learning</strong></li>
      <li>Machine Learning, Data analytics, Digital Signal Processing</li>

    </ul>
    
    <strong>Hobbies:</strong>
    <ul>
      <li>Writing, travel, sports (want to learn snow board), music, etc.</li> 
    </ul>
    

  </div>
</div>